html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Font styles */

h1 {
  color: #333333;
  font-weight: bold;
  font-size: 3.5rem;
}

h2 {
  color: #333;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

nav a {
  color: #333;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* Desktop Nav styles */

.desktop-nav.flex {
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.desktop-nav img {
  height: 4rem;
}

.desktop-nav nav a {
  margin-right: 1rem;
}

.desktop-nav nav a:hover {
  border-bottom: solid 1px #D3D3D3;
}

.desktop-nav nav a:last-child {
  margin-right: 0;
}

.logo.flex {
  align-items: center;
}

.logo.flex span {
  font-size: 1.5rem;
}

.logo.flex span:first-child {
  color: #333;
}

.logo.flex span:last-child {
  color: #595959;
}

.mobile-nav {
  display: none;
}

/* Hero Section styles */

.flex {
  display: flex;
}

.hero-section {
  background-color: #D3D3D3;
}

.hero-image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.hero-image img {
  width: 100%;
}

.hero-text {
  margin: auto 1.5rem;
  width: 40%;
}

.hero-text h1 {
  padding: 2rem 0;
}

.hero-text h2 {
  padding-bottom: 2rem;
}

.hero-text a {
  background: #333;
  padding: .5rem 5rem;
  font-size: 1.5rem;
  color: white;
}

/* Campus Info styles */

.campus-info-main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.campus-info-main img {
  width: 100%;
}

.campus-info-main h1 {
  padding: 2rem 0 1.5rem 0;
}

.campus-info-main p:last-child {
  padding: 2rem 0;
}

.campus-info-sidebar {
  width: 40%;
  margin: 2rem 1.5rem;
}

.campus-info-sidebar.flex {
  flex-direction: column;
}

.campus-info-detail span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.campus-info-detail:last-child > span:nth-child(2) {
  line-height: 2;
}

.campus-info-item {
  border-bottom: solid 1px #D3D3D3;
}

.campus-info-image {
  width: 35%;
  margin: 1rem;
}

.campus-info-sidebar img {
  width: 100%;
  height: auto;
}

.campus-info-detail {
  width: 65%;
}

.campus-info-detail.flex {
  flex-direction: column;
  justify-content: center;
}

.campus-info-item:last-child {
  background: #D3D3D3;
}

.campus-info-detail span {
  padding: .5rem 0;
}

/* Images */

.mobile-img {
  display: none;
}

/* Courses styles */

.courses-section {
  background: #D3D3D3;
}

.courses-title h1 {
  text-align: center;
  padding: 2rem 0;
}

.courses-offerings.flex {
  margin: 0 6rem 2rem 6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.course-detail span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.course-detail.flex.column span:nth-child(1n + 2) {
  padding-top: .5rem;
}

.course-detail.flex.column {
  margin: 1rem 1rem 1.5rem 1rem;
}

.course-item {
  width: 30%;
  background: white;
}

.course-item img {
  width: 100%;
  height: auto;
}

.course-item:nth-child(3n + 2) {
  margin: 0 2rem;
}

.course-item:nth-child(1n + 4) {
  margin-top: 2rem;
}

.courses-offerings-mobile {
  display: none;
}

/* Thesis section styles */

.thesis-title h1 {
  text-align: center;
  padding: 2rem 0;
}

.thesis-info-main {
  width: 60%;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.thesis-info-main video {
  width: 100%;
}

.thesis-info-main h1 {
  font-size: 2rem;
  padding: 2rem 0 1.5rem 0;
}

.thesis-info-sidebar {
  width: 40%;
  margin: 0 1.5rem;
}

.thesis-info-sidebar.flex {
  flex-direction: column;
}

.thesis-info-item:last-child {
  border-bottom: solid 1px #D3D3D3;
}

.thesis-info-image {
  width: 35%;
  margin: 1rem;
}

.thesis-info-sidebar img {
  width: 100%;
  height: auto;
}

.thesis-info-detail {
  width: 65%;
}

.thesis-info-detail span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.thesis-info-detail.flex {
  flex-direction: column;
  justify-content: center;
}

.thesis-info-item:first-child {
  background: #D3D3D3;
}

.thesis-info-detail span {
  padding: .5rem 0;
}

footer {
  border-top: solid 1px #D3D3D3;
}

footer.flex {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

footer span:first-child {
  margin-right: 1rem;
}

.legal a {
  color: #333;
}

/* Media Queries */

@media only screen and (max-width: 940px) {
  .hero-section.flex {
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    width: 100%;
    margin: 0;
  }

  .hero-text {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
  }

  .hero-text a {
    padding: 1.5rem 10rem;
  }

  .hero-text h1 {
    padding: 0 0 2rem 0;
  }

  .hero-text h2 {
    padding-bottom: 1.5rem;
  }

  .campus-info-main {
    display: none;
  }

  .campus-info-sidebar {
    width: 100%;
  }

  .campus-info-item.flex {
    flex-direction: column;
  }

  .mobile-img {
    display: block;
  }

  .desktop-img {
    display: none;
  }

  .campus-info-image {
    width: auto;
  }

  .campus-info-detail.flex {
    margin: 0 1rem;
  }

  .campus-info-detail {
    width: auto;
  }

  .campus-info-detail:last-child > span:nth-child(2) {
    font-size: 1.5rem;
  }

  .campus-info-detail.flex span:last-child {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    padding: 0;
  }

  .campus-info-item:last-child {
    background: none;
  }

  .campus-info-item {
    border-bottom: none;
  }

  .courses-title {
    border-top: solid 1px lightgray;
  }

  .courses-title h1 {
    padding: 2rem 0 1rem 0;
  }

  .courses-offerings.flex {
    display: none;
  }

  .courses-section {
    background: none;
  }

  .courses-offerings-mobile {
    display: flex;
    flex-direction: column;
  }

  .course-item-mobile {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1rem .5rem 1rem;
    background: lightgray;
    padding: 1rem 0 1.5rem 1rem;
  }

  .course-item-mobile:last-child {
    margin-bottom: 2rem;
  }

  .thesis-info-sidebar.flex {
    display: none;
  }

  .thesis-info-main h1 {
    display: none;
  }

  .thesis-info-main p {
    display: none;
  }

  .thesis-title {
    border-top: solid 1px lightgray;
  }

  .thesis-title h1 {
    padding: 2rem 0 1rem 0;
  }

  .thesis-info-main {
    width: auto;
  }

}

@media only screen and (max-width: 800px) {

  .desktop-nav.flex {
    display: none;
  }

  .mobile-nav {
    display: block;
    margin: 0 1.5rem;
  }

  .mobile-nav nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav img {
    height: 4rem;
  }

}

@media only screen and (max-width: 494px) {

  .hero-text a {
    padding: 1.5rem 4rem;
  }

  footer.flex {
    flex-direction: column;
  }

  .legal {
    margin-top: 1rem;
  }

}
